.App {
  text-align: center;
}

.header{
  background-color: blue;
  padding: 1rem;
}

.search-box{

  width: 20%;

}

.display-box{

  padding : 2rem;

}

.script-view{

  background-color: cadetblue;
  padding: 1 rem;
  width: 100%;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
